name: Paths Filtering Tests

on:
  pull_request:
    branches: [ "master" ]

jobs:
  # A job that determines if the changes are in scope for this particular workflow
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: actions/checkout@v5
      - uses: dorny/paths-filter@v3
        id: shared
        with:
          filters: .github/sharedPathFilter.yml
          predicate-quantifier: 'every'
      - uses: dorny/paths-filter@v3
        id: me
        with:
          filters: |
            self:
              # Include changes to THIS workflow
              - '.github/workflows/paths-filtering-tests.yml'
          predicate-quantifier: 'every'
    outputs:
      inScope: ${{ steps.shared.outputs.sorceCode == 'true' || steps.me.outputs.self == 'true' }}

  # A required status check for when 'inScope' files are changed
  in-scope:
    # This job consumes the output of the 'changes' job
    needs: changes
    if: ${{ needs.changes.outputs.inScope == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - run: echo Required files were changed!
  # The job with name matching the required status check
  build:
    needs: [changes, in-scope]
    if: ${{ always() }}
    runs-on: ubuntu-latest
    env:
      checksPassed: >-
        ${{
          needs.in-scope.result == 'success' ||
          needs.changes.outputs.inScope != 'true'
        }}
    steps:
      - name: Pass iff required checks do
        run: if [ '${{ env.checksPassed }}' = 'true' ]; then exit 0; else exit 1; fi
        shell: bash
