name: Paths Filtering Tests

on:
  pull_request:
    branches: [ "master" ]

jobs:
  # A job that determines if the changes are in scope for this particular workflow
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      # For pull requests it's not necessary to checkout the code
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            sourceCode:
              # Everything
              - '**'
              # Except stuff at the root of the repo
              - '!*'
              # Exclude changes to workflows in general
              - '!.github/workflows/**'
            self:
              # Include changes to THIS workflow
              - '.github/workflows/paths-filtering-tests.yml'
          predicate-quantifier: 'every'
    outputs:
      inScope: ${{ steps.filter.outputs.sourceCode == 'true' || steps.filter.outputs.self == 'true' }}

  # A required status check for when 'inScope' files are changed
  in-scope:
    # This job consumes the output of the 'changes' job
    needs: changes
    if: ${{ needs.changes.outputs.inScope == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - run: echo Required files were changed!
      - run: exit 1
  # A no-op variant of the required status check that is used if no 'inScope' files were changed
  in-scope-noop:
    # This job consumes the output of the 'changes' job
    needs: changes
    if: ${{ needs.changes.outputs.inScope != 'true' }}
    runs-on: ubuntu-latest
    steps:
      - run: echo Status check was skipped as the changes were not in scope
  # The job with name matching the required status check
  build:
    needs: [in-scope, in-scope-noop]
    if: ${{ !failure() }}
    runs-on: ubuntu-latest
    steps:
      - if: ${{ needs.in-scope.result == 'failure' }}
        run: exit 1

